<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.2.7.2 (Windows)"/>
	<meta name="created" content="2019-10-15T20:46:25.738000000"/>
	<meta name="changed" content="2020-06-25T16:55:28.204000000"/>
	<style type="text/css">
		@page { margin-left: 1cm; margin-right: 1cm; margin-top: 1cm; margin-bottom: 0.71cm }
		p { margin-bottom: 0.25cm; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="fr-FR" dir="ltr">
<p align="right" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
<font face="Liberation Serif, serif">Activit&eacute; 4 NSI 1&egrave;re
: dur&eacute;e 4h00 </font>
</p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
<font face="Liberation Serif, serif"><font size="4" style="font-size: 16pt"><b>{%
Application Web Dynamique avec Python %}</b></font></font></p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p><strong><span style="font-variant: normal"><font face="Liberation Serif, serif"><font size="3" style="font-size: 13pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none"><b>Introduction</b></span></span></span></font></font></span></strong></p>
<p style="margin-bottom: 0cm; line-height: 162%; orphans: 2; widows: 2">
<strong><span style="font-variant: normal"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none"><span style="font-weight: normal">Dans
cette activit&eacute; nous allons mettre en place une application qui
va nous permettre de cr&eacute;er et lister des articles depuis
</span></span></span></span></font></font></span></strong><strong><span style="font-variant: normal"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none"><span style="font-weight: normal">l&rsquo;</span></span></span></span></font></font></span></strong><strong><span style="font-variant: normal"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none"><span style="font-weight: normal">interface
d&rsquo;une page HTML.</span></span></span></span></font></font></span></strong></p>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 162%; orphans: 2; widows: 2">
<font face="Montserrat, sans-serif"><font size="3" style="font-size: 12pt"><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">Lors
de cette activit&eacute; </span></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">les
&eacute;l&egrave;ves vont manipuler une base de donn&eacute;es,
manipuler les donn&eacute;es depuis </span></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">des
</span></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><b>F</b></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><b>onctions</b></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">
et </span></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><b>P</b></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><b>roc&eacute;dures</b></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">
en Langage Python puis visualiser les donn&eacute;es dans une page
HTML</span></span></font></strong><strong><font face="Liberation Serif, serif"><span style="text-decoration: none"><span style="font-weight: normal">.</span></span></font></strong></font></font></p>
<p><a name="r-3516872"></a><u><strong><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>Objectifs
p&eacute;dagogiques :</b></span></span></font></font></font></span></strong></u></p>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 162%; orphans: 2; widows: 2"><a name="r-3517045"></a>
<font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt">&Agrave;
la fin de cette activit&eacute;, les &eacute;l&egrave;ves seraient
capable de :</font></font></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; line-height: 162%; orphans: 2; widows: 2">
	<font color="#000000"> <font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="font-style: normal"><span style="font-weight: normal">Lire
	et comprendre un programme </span></span></font><font size="3" style="font-size: 12pt"><span style="font-style: normal"><span style="font-weight: normal">en
	langage Python</span></span></font><font size="3" style="font-size: 12pt"><span style="font-style: normal"><span style="font-weight: normal">.</span></span></font></font></font></p>
	<li/>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; line-height: 162%; orphans: 2; widows: 2">
	<font color="#000000">  <font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="font-style: normal"><span style="font-weight: normal">Faire
	des requ&ecirc;tes en </span></span></font><font size="3" style="font-size: 12pt"><span style="font-style: normal"><span style="font-weight: normal">Langage
	SQL (Create database, Create table, Insert, Update...)</span></span></font></font></font></p>
	<li/>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 162%; orphans: 2; widows: 2">
	<font color="#000000"> <font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt">Configurer
	une connexion &agrave; la base de donn&eacute;e en langage Python.</font></font></font></p>
	<li/>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; line-height: 162%; orphans: 2; widows: 2">
	<font color="#000000"> <font face="Liberation Serif, serif">Extraire,
	Visualiser les donn&eacute;es de la base de donn&eacute;es dans une
	page HTML.</font></font></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 162%; orphans: 2; widows: 2">
	<span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
	</span></font></span><font face="Liberation Serif, serif"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">Acqu&eacute;rir
	des notions en</span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
	programmation objets </span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">et
	m</span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">anipulation
	des attributs</span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">.</span></font></span></font></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 162%; orphans: 2; widows: 2">
	<span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
	</span></font></span><font face="Liberation Serif, serif"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">R&eacute;aliser
	des sites web dynamiques </span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">en
	respectant la norme </span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><b>MVC</b></span></font></span><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
	(Mod&egrave;le, Vue, Contr&ocirc;leur)</span></font></span></font></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 162%; orphans: 2; widows: 2">
	<span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">
	</span></font></span><font face="Liberation Serif, serif"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal">Comprend
	l&rsquo;architecture informatique &laquo; MIDDLEWARE &raquo; ou &laquo;
	architecture n tiers &raquo;.</span></font></span></font></p>
</ul>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><u><b>Mise
en &oelig;uvre de l&rsquo;activit&eacute; :</b></u></font></font></font></p>
<p align="left"><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">A
travers cette activit&eacute; </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">je
vais</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">,
</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">d&rsquo;abord
expliquer </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">la
notion de la</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">
programme </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">objet
</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">ensuite,
</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">faire</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">
</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">d</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">&eacute;</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">couvrir
</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">la
 </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">configuration
de communication entre code et une base de donn&eacute;es. Puis
j&rsquo;introduirai </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">l&rsquo;architecture
Mod&egrave;le-Vue-Contr&ocirc;leur, </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">en</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">fin,
les &eacute;l&egrave;ves seront amen&eacute;es &agrave; customiser le
programme pour l&rsquo;adapter aux am&eacute;liorations, </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">aux</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">
modification</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">s</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">
&agrave; porter. Exemple : cr&eacute;er une table, ajouter des
colonnes &agrave; une table existante, </span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">modifier
une colonnes&hellip;.</span></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">
</span></span></span></font></font></font></span>
</p>
<p align="center"><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>Afin
de faciliter l&rsquo;acquisition de</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>s</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>
connaissances, la mise en place de cette activit&eacute; doit se
faire avec des exemples concr</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>e</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>t</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>s</b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>
pour illustrer nos dires. </b></span></span></font></font></font></span>
</p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><u>Pr&eacute;requis
de l&rsquo;activit&eacute; :</u><span style="text-decoration: none"> </span></b></font></font></font>
</p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt">Avoir
des connaissances en SQL, en HTML, avoir des notions en programmation
notamment en langage de programmation Python et savoir s&rsquo;autoformer.</font></font></font></p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><u><b>Ressources
disponibles :</b></u></font></font></font></p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font size="2" style="font-size: 10pt"><a href="https://openclassrooms.com/fr/courses/4302126-decouvrez-la-programmation-orientee-objet-avec-python/4311506-creez-la-classe-position">https://openclassrooms.com/fr/courses/4302126-decouvrez-la-programmation-orientee-objet-avec-python/4311506-creez-la-classe-position</a>
</font></b></font></font></font>
</p>
<p align="left"><a href="https://medium.com/code-divoire/cr%C3%A9ation-dune-application-web-avec-python-et-react-partie-1-backend-b5efb8a6a0c5">https://medium.com/code-divoire/cr%C3%A9ation-dune-application-web-avec-python-et-react-partie-1-backend-b5efb8a6a0c5</a>
<span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><b>
  </b></span></span></font></font></font></span><span style="font-variant: normal"><font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none"><span style="font-weight: normal">
 </span></span></span></span></font></font></font></span>
</p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><u><b>Modalit&eacute;
d&rsquo;&eacute;valuation&nbsp;:</b></u></font></font></font></p>
<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#000000"><font face="Liberation Serif, serif"><font size="4" style="font-size: 14pt"><b><font size="3" style="font-size: 12pt">-
</font><font size="3" style="font-size: 12pt">&Eacute;valuation
</font><font size="3" style="font-size: 12pt">sommative</font></b><font size="3" style="font-size: 12pt"><span style="font-weight: normal">
</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">&agrave;
travers </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">des</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">
</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">exercice</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">s</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">
consistant &agrave; </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">customiser
ou </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">&agrave;
</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">am&eacute;liorer
</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">un
programme, le tra</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">itement
des donn&eacute;es </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">d&rsquo;un
programme&hellip;</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">
</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">et
un QCM pour &eacute;valuer le niveau de compr&eacute;hension des
&eacute;l&egrave;ves.</span></font></font></font></font></p>
<p align="left"><font face="Liberation Serif, serif"><b><span style="font-variant: normal"><font color="#000000"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><u>Retour
sur exp&eacute;rience </u></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none">:
</span></span></span></font></font></span><span style="font-variant: normal"><font color="#000000"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="text-decoration: none">N&eacute;ant
</span></span></span></font></font></span></b></font>
</p>
<div title="footer">
	<p align="left" style="margin-top: 0.5cm; margin-bottom: 0cm; line-height: 100%">
	<font size="2" style="font-size: 9pt"><i>Boussouri ABOUTOIHI        
	                                                                    
	                                                          Merci &agrave;
	 vasanth@pinesphere.com   <sdfield type=PAGE subtype=RANDOM format=PAGE>1</sdfield>/<sdfield type=DOCSTAT subtype=PAGE format=PAGE>1</sdfield></i></font></p>
</div>
</body>
</html>