{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
	<h1>Activité Bloc - 4 : ABOUTOIHI Boussouri </h1>
	<p> Activité Bloc 4 : WebApplication (Python - Flask - Mysql ) </p>
  {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  {% endif %}
</div>
{% endblock %}

{% block footer %} {% endblock %}
