<html>
<head>
  <title>Activité Bloc - 4 : ABOUTOIHI Boussouri </title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{% include 'includes/_navbar.html'%}

<div class="container">
  {% include 'includes/_messages.html' %}
  {% block body %}{% endblock %}
</div>

	{%block footer %} {% endblock %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/ckeditor.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('editor')
  </script>
</body>
</html>
